rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for the 'projects' collection
    match /projects/{projectId} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.email == "mehtavrushalvm@gmail.com" ||
        request.auth.token.email == "harshvekriya441@gmail.com"
      );
    }

    // Rules for the 'messages' collection (used in Contact form)
    match /messages/{messageId} {
      allow create: if true; // Allow anyone to submit the contact form
      allow read, update, delete: if false; // No one can read or change messages
    }
  }
}
