@import "tailwindcss";

.bg-hero-gradient {
  background: linear-gradient(
    to bottom,
    #000000 0%,       /* black, top */
    #29223a 25%,      /* dark purple */
    #7c5ecb 60%,      /* muted purple */
    #e0e6f5 85%,      /* very light, almost white purple */
    #ffffff 100%      /* white, bottom */
  );
}

/* Hide scrollbar but allow scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spinSlow 6s linear infinite;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  scroll-behavior: smooth;
}

